<div class="container-fluid">
    <div class="card m-3 mt-3">
        <div class="card-header">
        <h3>Track Inventory</h3>
        </div>
         <div class="card card-body">
      <div class="table-responsive" style="overflow-x: scroll;">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Product</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">In Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of product;let i = index">
            <td>{{i+1}}</td>
            <td>{{prod?.product_name}}</td>
            <td>{{prod?.manufacturer}}</td>
            <td>{{prod?.quantity}}</td>
            </tr>
        </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4" style="align-items: center;text-align: center;">
                <span style="font-family: Times New Roman, Times, serif;">Showing {{totalItems?.currentPage}} to {{totalItems?.totalPages}} of {{totalItems?.totalItem}} Products</span>
            </div>
            <div class="col-sm-7">
                <div class="d-flex  float-right ">
                    <!-- <pagination-controls  previousLabel="Pre" nextLabel="Next" >
                    </pagination-controls> -->
                    <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" *ngIf="page === 1"><a class="page-link" >Previous</a></li>
                        <li class="page-item" *ngIf="page !== 1"><a class="page-link" (click)="goToPage(page-1)">Previous</a></li>
                        <li class="page-item" *ngFor="let p of pages" (click)="goToPage(p.index)"><a class="page-link" >{{p.index}}</a></li>
                        <li class="page-item" *ngIf="pages.length !== page"><a class="page-link" (click)="goToPage(page+1)">Next</a></li>
                        <li class="page-item" *ngIf="pages.length === (page)"><a class="page-link" >Next</a></li>
                    </ul>
                    </nav>
                    <div class="ml-3 mt-1 bd-highlight">
                        <select (change)="onTableSizeChange($event)" class="custom-select custom-select-sm">
                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
    </div>
</div>
  